{% autoescape None %}
<html>
    <body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        function solutionOn()
        {
            $("#solution").show();
        }

        function solutionOff()
        {
            $("#solution").hide();
        }
    </script>
    {{graph}}
    <form action="" method="post">
        solution on: <input type="radio" name="solution_check" onClick="solutionOn()">
        </br>
        solution off: <input type="radio" name="solution_check" onClick="solutionOff()" checked>
        </br>
        {% for i in range(9) %}
            {% if data['length'] > i %}
            y{{i+1}} : 
            <input name="y{{i+1}}_function", value="{{data['function'][i]}}">
            <input name="y{{i+1}}_xmin", value="{{data['xmin'][i]}}">
            <input name="y{{i+1}}_xmax", value="{{data['xmax'][i]}}">
            {% else %}
            y{{i+1}} : 
            <input name="y{{i+1}}_function", value="">
            <input name="y{{i+1}}_xmin", value="0">
            <input name="y{{i+1}}_xmax", value="0">
            {% end %}
        </br>
        {% end %}
        </br>
        <input type="submit" value="그래프 그리기">
    </form>
    
    <div id="solution" style="display:none">
        <table border="1">
            <tr>
                <td>함수</td>
                <td>index</td>
                <td>x</td>
                <td>error</td>
            </tr>
            {% for i in range(len(graphLst)) %}
                {% for j in range(len(graphLst[i].get_solution())) %}
                <tr>
                    <td>{{graphLst[i].get_name()}}</td>
                    <td>{{j}}</td>
                    <td>{{graphLst[i].get_solution()[j]}}</td>
                    <td>{{graphLst[i].get_error()}}</td>
                </tr>
                {% end %}
            {% end %}
        </table>
    </div>

    </body>
</html>